{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your account at {{ site_name }}.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link doesn't work, copy and paste this URL into your browser:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username: {{ user.get_username }}

If you didn't request this, please ignore this email.

Thanks for using {{ site_name }}!
{% endautoescape %}